/* CharacterCard.css */
.character-card {
    background-color: #f84b4b;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .character-name {
    font-size: 18px;
    margin: 0;
  }
  
  img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px auto;
  }